.page__content {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
}

.modal__label {
  font-family: "Inter", arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  color: #2f71e5;
  margin: 0 0 30px 0;
}

.modal__label:last-of-type {
  margin-bottom: 39px;
}

.modal__input {
  display: block;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  font-family: "Inter", arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  margin: 9px 0;
  padding-bottom: 10px;
}

.modal__error {
  font-family: "Inter", arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  color: #ff0000;
}

@media screen and (max-width: 1100px) and (min-width: 760px) {
  .page__content {
    margin: 0 auto;
    max-width: 100%;
  }

  .page {
    max-width: 100%;
  }
}

@media screen and (max-width: 519px) {
  .modal__label:last-of-type {
    margin-bottom: 23px;
  }
}
