.search-results {
  background-color: #f5f6f7;
  max-width: 100%;
  padding: 80px 104px;
  box-sizing: border-box;
}

.search-results__title {
  margin: 0;
  font-family: "Roboto-slab", arial, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  padding-bottom: 64px;
}
