.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background-image: url("../../assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 80px;
}

.header--saved {
  background-image: none;
  border-bottom: solid 1px rgba(196, 196, 196, 0.5);
}

.header__title {
  font-weight: 700;
  font-family: "Roboto-slab", Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 0 104px;
}

.header__title-link {
  text-decoration: none;
  color: #1a1b22;
}

.header__title-link-home {
  color: white;
}

@media screen and (max-width: 1100px) {
  .header {
    height: 66px;
  }

  .header__title {
    margin-left: 40px;
  }
}

@media screen and (max-width: 550px) {
  .header {
    height: 56px;
  }

  .header__title {
    margin-left: 16px;
    font-size: 16px;
    padding: 16px 0;
  }
}
