.saved-articles__header {
  padding-top: 40px;
  width: 100%;
}

.saved-articles__title {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b2280;
  margin: 0 0 28px 104px;
}

.saved-articles__description {
  font-family: "Roboto-Slab", Arial, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  max-width: 530px;
  margin: 0 0 30px 104px;
}

.saved-articles__keywords {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 56px 104px;
}

.saved-articles__keywords strong {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

@media screen and (max-width: 800px) {
  .saved-articles__header {
    padding-top: 24px;
  }

  .saved-articles__title {
    margin: 0 0 16px 40px;
    padding: 0;
    font-size: 14px;
  }

  .saved-articles__description {
    margin: 0 0 16px 40px;
    font-size: 30px;
    line-height: 34px;
    max-width: 336px;
    padding: 0;
  }

  .saved-articles__keywords {
    margin: 0 0 32px 40px;
    padding: 0;
  }
}

@media screen and (max-width: 550px) {
  .saved-articles__header {
    padding-top: 8px;
  }
  .saved-articles__title {
    margin: 0 16px 16px 16px;
  }
  .saved-articles__description {
    margin: 0 16px 50px 16px;
  }

  .saved-articles__keywords {
    margin: 0 17px 32px 15px;
  }
}
