.news-card-list {
  background: #f5f6f7;
  display: flex;
  flex-direction: column;
}

.news-card-list-home {
  width: 100%;
}

.news-card-list-saved {
  max-width: 100%;
}

.news-card-list__title {
  font-family: "Roboto-Slab", Arial, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  margin: 80px 0 64px 104px;
  color: #1a1b22;
  padding: 0;
  text-align: left;
}

.news-card-list__articles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0;
  width: 100%;
  align-items: flex-start;
}

.news-card-list__articles-home {
  margin: 0 auto;
}

.news-card-list__articles-saved {
  margin: 62px auto 62px;
}

.news-card-list__button {
  position: relative;
  width: 288px;
  height: 64px;
  background-color: white;
  border-radius: 80px;
  color: #1a1b22;
  border: none;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin: 64px auto 80px;
  padding: 0;
}

.news-card-list__button-saved {
  margin-top: 0;
}

.news-card-list__button:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  .news-card-list-home {
    padding: 0 40px;
  }

  .news-card-list__title {
    margin-left: 0;
  }
}

@media screen and (max-width: 1100px) {
  .news-card-list-home {
    padding: 0 40px;
  }

  .news-card-list__title {
    font-size: 30px;
    line-height: 34px;
    padding: 0;
    margin: 40px 0 0 0;
  }

  .news-card-list__articles {
    gap: 8px;
    margin: 32px auto 32px;
  }

  .news-card-list__button {
    margin: 32px auto 40px;
    width: 240px;
  }
}

@media screen and (max-width: 996px) {
  .news-card-list-saved {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 550px) {
  .news-card-list {
    padding: 0 16px;
  }

  .news-card-list__title {
    margin: 32px 0 58px 0;
  }

  .news-card-list__articles {
    padding: 0;
    margin: 0 auto 12px;
  }

  .news-card-list__button {
    margin: 16px auto 24px;
  }

  .news-card-list-saved {
    margin-top: 24px;
    margin-bottom: 0;
  }

  .news-card-list__articles-saved {
    margin-top: 24px;
  }
}
